.history {
  display: flex;
  flex-direction: column;
}

.per-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 50px;
  position: relative;
  border-radius: 5px;
  padding: 0 15px;
  left: 32px;
}

.red-border {
  border-right: 5px solid red;
}

.green-border {
  border-right: 5px solid rgb(35, 185, 35);
}

.per {
  position: relative;
  /* left: -7px; */
  /* display: flex; */
  gap: 5px;
  flex-direction: column;
  max-height: 100px;
  overflow-y: scroll;
  width: 315px;
  align-items: center;
}

.per .fa-xmark {
  z-index: 3;
  left: -30px;
  /* top: 16px; */
  position: absolute;
  background-color: rgb(216, 0, 0);
  color: white;
  padding: 3px 4px 1px 4px;
}

.per .fa-pen-to-square {
  background: rgb(35, 185, 35);
  color: white;
  font-size: 14px;
  padding: 2px 4px 4px 4px;
}

.edit {
  display: none;
  position: relative;
  width: 268px;
  top: 0px;
  justify-content: space-around;
  align-items: baseline;
  transition: transform 0.3s ease; /* Adding transition for transform property */
  transform: translateY(-20px); /* Initial position change */
}

.edit input {
  width: 65px;
  /* font-size: 10px; */
}

.edit button {
  padding: 5px;
}
